.taxonomy {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
.taxonomy h4 {
    margin: 0 0 5px;
    color: #777;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 0.8px;
}

.node {
  font: 8px sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
